In [55]:
import pandas as pd
import numpy as np
import math
from sklearn.model_selection import KFold, cross_val_score, GridSearchCV
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.preprocessing import scale, StandardScaler
from sklearn.datasets import load_boston
from sklearn.linear_model import Perceptron
from sklearn.metrics import accuracy_score, roc_auc_score, f1_score, recall_score, precision_score,precision_recall_curve,confusion_matrix
from sklearn.svm import SVC
from sklearn import datasets
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
classification = pd.read_csv('classification.csv')

classification

     true  pred
0       1     0
1       1     1
2       1     1
3       0     0
4       1     1
5       1     1
6       1     1
7       0     1
8       0     0
9       0     1
10      1     0
11      0     1
12      1     1
13      0     1
14      0     0
15      0     1
16      1     1
17      0     1
18      0     0
19      0     0
20      0     1
21      1     1
22      1     1
23      1     0
24      0     0
25      0     0
26      1     1
27      1     1
28      0     0
29      1     0
..    ...   ...
170     1     1
171     0     0
172     0     0
173     0     0
174     0     0
175     0     0
176     1     0
177     0     1
178     0     0
179     1     0
180     0     1
181     0     0
182     0     0
183     1     0
184     0     1
185     0     0
186     1     0
187     1     0
188     0     0
189     1     0
190     1     0
191     1     0
192     1     0
193     1     1
194     1     0
195     0     0
196     0     0
197     1     0
198     0     1
199     0     0

[200 rows x 2 columns]

In [84]:
TP = len(classification[(classification['true'] == 1) & (classification['pred'] == 1)].true)

TP

43

In [85]:
FP = len(classification[(classification['true'] == 0) & (classification['pred'] == 1)].true)

FP

34

In [86]:
FN = len(classification[(classification['true'] == 1) & (classification['pred'] == 0)].true)

FN

59

In [87]:
TN = len(classification[(classification['true'] == 0) & (classification['pred'] == 0)].true)

TN

64

In [90]:
TP, FP, FN, TN

(43, 34, 59, 64)

In [61]:
confusion_matrix(classification['true'], classification['pred'], labels=[1,0])

array([[43, 59],
       [34, 64]], dtype=int64)

In [23]:
round(accuracy_score(classification.true, classification.pred), 2)

0.54

In [20]:
round(precision_score(classification.true, classification.pred), 2)

0.56

In [21]:
round(recall_score(classification.true, classification.pred), 2)

0.42

In [22]:
round(f1_score(classification.true, classification.pred), 2)

0.48

In [24]:
scores = pd.read_csv('scores.csv')

scores

     true  score_logreg  score_svm  score_knn  score_tree
0       0      0.683832   0.145976   0.787063    0.500000
1       1      0.801966   0.239511   1.000000    0.833333
2       0      0.382315  -0.245701   0.000000    0.000000
3       1      0.506797  -0.137058   0.000000    0.105263
4       1      0.488781  -0.154148   0.000000    0.105263
5       0      0.108506  -0.790864   0.000000    0.000000
6       0      0.413749  -0.185143   0.283053    0.363636
7       0      0.961081   0.830973   1.000000    1.000000
8       0      0.055733  -0.872805   0.000000    0.100000
9       0      0.168708  -0.518390   0.000000    0.100000
10      1      0.504716  -0.103459   0.698631    0.833333
11      1      0.700781   0.104391   1.000000    0.833333
12      0      0.310665  -0.301488   0.676880    0.363636
13      0      0.784460   0.195189   1.000000    0.923077
14      0      0.160733  -0.611195   0.655103    0.315789
15      1      0.799574   0.331874   1.000000    1.000000
16      0      0.582998  -0.089084   0.435303    0.923077
17      1      0.814842   0.283855   0.551823    0.833333
18      0      0.157332  -0.631128   0.572756    0.315789
19      1      0.931500   0.708483   1.000000    1.000000
20      0      0.138797  -0.686697   0.000000    0.315789
21      1      0.274198  -0.431631   0.797432    0.642857
22      0      0.720033   0.230868   0.701967    0.700000
23      1      0.843546   0.355761   1.000000    1.000000
24      0      0.609126   0.084097   1.000000    0.700000
25      1      0.880773   0.423232   1.000000    1.000000
26      0      0.239080  -0.373287   0.625865    0.363636
27      0      0.305787  -0.342313   0.000000    0.000000
28      1      0.543229  -0.093911   0.000000    0.105263
29      1      0.074923  -0.875135   0.356250    0.000000
..    ...           ...        ...        ...         ...
170     1      0.963559   0.919219   1.000000    1.000000
171     0      0.358193  -0.277359   0.000000    0.000000
172     1      0.728585   0.162791   1.000000    0.833333
173     0      0.956966   0.791260   1.000000    1.000000
174     1      0.921236   0.587108   0.636871    0.700000
175     1      0.488522  -0.179402   0.723928    0.400000
176     1      0.634594  -0.000936   0.329428    0.400000
177     0      0.212360  -0.445750   0.000000    0.100000
178     0      0.546161  -0.079479   0.280409    0.105263
179     1      0.816888   0.275750   0.629734    0.833333
180     1      0.936342   0.700641   1.000000    1.000000
181     1      0.345238  -0.254075   0.815816    0.363636
182     1      0.775077   0.226086   1.000000    0.833333
183     0      0.784289   0.240379   1.000000    0.833333
184     0      0.391728  -0.328802   0.000000    0.400000
185     1      0.446609  -0.163247   0.000000    0.363636
186     1      0.369691  -0.263503   0.298588    0.000000
187     0      0.373856  -0.307583   0.000000    0.105263
188     1      0.101603  -0.707600   0.000000    0.100000
189     0      0.592363  -0.051362   0.000000    0.400000
190     0      0.282557  -0.393812   0.000000    0.000000
191     1      0.850252   0.358618   1.000000    1.000000
192     0      0.563431  -0.072862   0.000000    0.400000
193     0      0.255245  -0.447265   0.650820    0.315789
194     1      0.903727   0.531599   0.000000    0.700000
195     0      0.573801  -0.088203   0.284192    0.400000
196     0      0.624422  -0.012315   0.205437    0.400000
197     1      0.425538  -0.135673   0.382351    0.700000
198     0      0.905270   0.583806   1.000000    1.000000
199     0      0.275594  -0.422160   0.743567    0.642857

[200 rows x 5 columns]

In [40]:
roc_auc = 0
n = 0
for i in range(len(scores.columns[1:])):
    rc = roc_auc_score(scores.true, scores[scores.columns[1:][i]])
    
    if rc > roc_auc:
        roc_auc = rc
        n = i

In [83]:
scores.columns[1:][n], roc_auc

('score_tree', 0.719187675070028)

In [80]:
maxpr = 0
n = 0
for i in range(len(scores.columns[1:])):
    
    precision, recall, thresholds = precision_recall_curve(scores.true, scores[scores.columns[1:][i]])
    
    d = {'precision': precision,'recall': recall}
    
    pr = max(df[df['recall'] >= 0.7].precision)
    
    if rc > maxpr:
        maxpr = pr
        n = i

In [82]:
scores.columns[1:][n], maxpr

('score_tree', 0.6517857142857143)