In [15]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold, cross_val_score
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.preprocessing import scale, StandardScaler
from sklearn.datasets import load_boston
from sklearn.linear_model import Perceptron
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
from sklearn import datasets
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import GridSearchCV

In [3]:
newsgroups = datasets.fetch_20newsgroups(
                    subset='all', 
                    categories=['alt.atheism', 'sci.space']
             )

Downloading 20news dataset. This may take a few minutes.
Downloading dataset from https://ndownloader.figshare.com/files/5975967 (14 MB)

In [19]:
Y = newsgroups.target

Y

array([0, 0, 1, ..., 1, 1, 0], dtype=int64)

In [8]:
newsgroups.target_names

['alt.atheism', 'sci.space']

In [17]:
texts = newsgroups.data

In [20]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(texts)

In [26]:
grid = {'C': np.power(10.0, np.arange(-5, 6))}
cv = KFold(n_splits=5, shuffle=True, random_state=241)
clf = SVC(kernel='linear', random_state=241)
gs = GridSearchCV(clf, grid, scoring='accuracy', cv=cv)
gs.fit(X, Y)

GridSearchCV(cv=KFold(n_splits=5, random_state=241, shuffle=True),
       error_score='raise',
       estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=241, shrinking=True,
  tol=0.001, verbose=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'C': array([1.e-05, 1.e-04, 1.e-03, 1.e-02, 1.e-01, 1.e+00, 1.e+01, 1.e+02,
       1.e+03, 1.e+04, 1.e+05])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [27]:
gs.grid_scores_

C:\Users\ccord517\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:761: DeprecationWarning: The grid_scores_ attribute was deprecated in version 0.18 in favor of the more elaborate cv_results_ attribute. The grid_scores_ attribute will not be available from 0.20
  DeprecationWarning)

[mean: 0.55263, std: 0.02812, params: {'C': 1e-05},
 mean: 0.55263, std: 0.02812, params: {'C': 0.0001},
 mean: 0.55263, std: 0.02812, params: {'C': 0.001},
 mean: 0.55263, std: 0.02812, params: {'C': 0.01},
 mean: 0.95017, std: 0.00822, params: {'C': 0.1},
 mean: 0.99328, std: 0.00455, params: {'C': 1.0},
 mean: 0.99328, std: 0.00455, params: {'C': 10.0},
 mean: 0.99328, std: 0.00455, params: {'C': 100.0},
 mean: 0.99328, std: 0.00455, params: {'C': 1000.0},
 mean: 0.99328, std: 0.00455, params: {'C': 10000.0},
 mean: 0.99328, std: 0.00455, params: {'C': 100000.0}]

In [35]:
clf = SVC(random_state = 241, C = 1.0, kernel = 'linear')

clf.fit(X, Y)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=241, shrinking=True,
  tol=0.001, verbose=False)

In [49]:
coef = clf.coef_
coef

<1x28382 sparse matrix of type '<class 'numpy.float64'>'
	with 18404 stored elements in Compressed Sparse Row format>

In [51]:
q = pd.DataFrame(coef.toarray()).transpose()

q

              0
0      0.292581
1     -0.123148
2      0.000000
3      0.000000
4      0.000000
5      0.012755
6      0.000000
7      0.003358
8     -0.061856
9     -0.027968
10     0.000000
11     0.000000
12     0.000000
13     0.000000
14     0.000000
15     0.000000
16     0.000000
17     0.000000
18     0.000000
19     0.000000
20     0.000000
21     0.000000
22     0.000000
23     0.081121
24     0.000000
25     0.000000
26     0.000000
27     0.000000
28     0.000000
29     0.000000
...         ...
28352  0.073748
28353  0.019729
28354 -0.020719
28355  0.000000
28356  0.000000
28357  0.128594
28358  0.028639
28359  0.017826
28360  0.000000
28361  0.365378
28362  0.234405
28363  0.007283
28364  0.000000
28365 -0.072639
28366  0.019729
28367  0.000000
28368  0.000000
28369  0.000000
28370  0.000000
28371 -0.061752
28372  0.000000
28373  0.005256
28374 -0.159178
28375  0.009864
28376  0.009864
28377  0.009864
28378  0.009864
28379  0.019729
28380  0.058313
28381 -0.002973

[28382 rows x 1 columns]

In [52]:
top10=abs(q).sort_values([0], ascending=False).head(10)
top10

              0
24019  2.663165
12871  1.920379
5088   1.254690
5093   1.249180
17802  1.201611
23673  1.180132
21850  1.139081
5776   1.130612
15606  1.097094
22936  1.029307

In [57]:
indices=[]

indices=top10.index

words=[]

for i in indices:

    feature_mapping=vectorizer.get_feature_names()

    words.append(feature_mapping[i])

print(" ".join(sorted(words)))

atheism atheists bible god keith moon religion sci sky space

In [61]:
file_answer = open("week 3 txtanalysis 1.txt", "w")
file_answer.write("atheism atheists bible god keith moon religion sci sky space")
file_answer.close()