In [3]:
import pandas as pd
import numpy as np
import math
from sklearn.model_selection import KFold, cross_val_score, GridSearchCV
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.preprocessing import scale, StandardScaler
from sklearn.datasets import load_boston
from sklearn.linear_model import Perceptron, Ridge
from sklearn.metrics import accuracy_score, roc_auc_score, f1_score, recall_score, precision_score,precision_recall_curve,confusion_matrix
from sklearn.svm import SVC
from sklearn import datasets
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction import DictVectorizer
from scipy.sparse import hstack

In [4]:
salary_train = pd.read_csv('salary-train.csv')

salary_train

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000
3,A great local marketleader is seeking a perman...,Dereham,permanent,22500
4,Registered Nurse / RGN Nursing Home for Young...,Sutton Coldfield,NaN,20355
5,Sales and Marketing Assistant will provide adm...,Crawley,NaN,22500
6,Vacancy Ladieswear fashion Area Manager / Regi...,UK,permanent,32000
7,Reference: LR/JAN/**** Our client is one of th...,Bristol,permanent,30000
8,Sponsorship Manager London The Company A marke...,Central London,permanent,31500
9,"About Barclays Barclays moves, lends, invests ...",South East London,permanent,42499
10,Counter Sales Person c****k dependent on exper...,Banchory,contract,16000
11,Central London Competitive Salary Bonus & Be...,Gipsy Hill,permanent,47500
12,We are recruiting for a dynamic organisation b...,Wakefield,permanent,20000
13,Composite Design Engineer required for a perma...,Abingdon,permanent,34000
14,Working managing a team to maintain the Home b...,Northampton,NaN,15360
15,HCL Nursing are actively recruiting skilled re...,Bradford,permanent,39811
16,HGV / Commercial vehicle Customer service adv...,Northamptonshire,contract,23000
17,Break into Banking .NET Developer (C/Agile/Wi...,London,permanent,47500
18,Registered Nurse (RGN) is required to work wit...,Tiverton,NaN,24500
19,Can you drive effective analytical solutions f...,Uxbridge,NaN,32000
20,"nbsp; My client is an small, but high profile ...",London,permanent,45000
21,Specialist Clinical Negligence Practice based ...,Lancashire,permanent,20000
22,Job description: • Answer contacts promptly an...,UK,permanent,21000
23,YEAR **** TEACHER ROLE Servoca Education is cu...,Surrey,contract,34800
24,REGISTERED GENERAL NURSES RGN BOURNEMOUTH FO...,Bournemouth,NaN,24500
25,Salary: ****k ****k pa plus benefits Location...,Leeds,permanent,25000
26,A reputable and fast growing asbestos company ...,South Yorkshire,permanent,28000
27,SENIOR BUSINESS TRAVEL EXECUTIVE Salary: ****k...,Essex,permanent,27500
28,Our client is one of the leading digital sales...,London,permanent,18000
29,Capita is a FTSE100 listed company and run EME...,UK,permanent,40000
...,...,...,...,...
59970,Freelance Estimator Role (Holding Post) – ****...,Nottinghamshire,permanent,42500
59971,Development Worker Salary: **** **** per annu...,West London,permanent,20000
59972,Vehicle Purchaser / Car Sales Chesterfield ***...,Chesterfield,permanent,23750
59973,This is your chance to join a dynamic FTSE 100...,UK,permanent,30500
59974,We are looking for a passionate Chef de Partie...,South East London,NaN,20500
59975,Children Youth and Family Services Team Manage...,London,permanent,27682
59976,Experienced retail merchandisers required. Pre...,Oxford,NaN,12960
59977,A rare and exciting opportunity has arisen to ...,Dorset,permanent,50000
59978,You will be responsible for the delivery and c...,UK,permanent,22000
59979,"Automotive, Motor Trade Job: Service Advisor R...",Leeds,NaN,19500
59980,A Service in Norfolk are looking for a qualifi...,King's Lynn,NaN,32640
59981,"Software Quality Engineer TickIT, CMMi, AQAP ...",Bedfordshire,permanent,45000
59982,Job Description Our client is a London based i...,London,permanent,68750
59983,Hays Education has recently experienced an inc...,Weston-Super-Mare,permanent,18720
59984,Internet Security Software Engineer Cambridge ...,Cambridge,permanent,50000
59985,Front End Web Designer / Front End Web Develop...,Preston,NaN,20000
59986,Our client a large NHS Foundation Trust is s...,Basingstoke,contract,54000
59987,Salary: &pound**** &nbsp&pound**** / Year Loca...,Southampton,permanent,28000
59988,The Position: Sous Chef Pastry The Candidate ...,Cheshire,NaN,21000
59989,Electrical Design Engineer required for a Cons...,Leeds,permanent,30000
59990,Project Manager Defence / Electronics A great...,Andover,permanent,42000
59991,Our client is a growing SME client based in We...,West Sussex,permanent,37000
59992,"DATA ANALYST Canary Wharf, London 69 Month Con...",London,contract,25920
59993,Bmsl require Labourer with ENHANCED PRISON CLE...,London,NaN,13440
59994,LONGHURST HAVELOK HOMES LIMITED REGISTERED RES...,Grimsby,NaN,12585
59995,"As a result of continued growth, First Class S...",Whitley Bay,contract,26400
59996,PHP / MVC Web Developer MacclesfieldCirca ***...,Macclesfield,permanent,26000
59997,"Staff Nurse, Nursing Home, Baldock White Recru...",Baldock,NaN,24500
59998,This is one of the best agency side opportunit...,The City,permanent,65000
59999,Must have CSCS card must have asbestos awarene...,London,NaN,23040

In [5]:
salary_test_mini = pd.read_csv('salary-test-mini.csv')

salary_test_mini

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,We currently have a vacancy for an HR Project ...,Milton Keynes,contract,NaN
1,A Web developer opportunity has arisen with an...,Manchester,permanent,NaN

In [6]:
salary_train['FullDescription'] = salary_train['FullDescription'].str.lower().replace('[^a-zA-Z0-9]', ' ', regex = True)

salary_train['LocationNormalized'] = salary_train['LocationNormalized'].str.lower().replace('[^a-zA-Z0-9]', ' ', regex = True)

salary_train['ContractTime'] = salary_train['ContractTime'].str.lower().replace('[^a-zA-Z0-9]', ' ', regex = True)

salary_train['LocationNormalized'].fillna('nan', inplace=True)

salary_train['ContractTime'].fillna('nan', inplace=True)

salary_train

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,international sales manager london k ...,london,permanent,33000
1,an ideal opportunity for an individual that ha...,london,permanent,50000
2,online content and brand manager luxury reta...,south east london,permanent,40000
3,a great local marketleader is seeking a perman...,dereham,permanent,22500
4,registered nurse rgn nursing home for young...,sutton coldfield,nan,20355
5,sales and marketing assistant will provide adm...,crawley,nan,22500
6,vacancy ladieswear fashion area manager regi...,uk,permanent,32000
7,reference lr jan our client is one of th...,bristol,permanent,30000
8,sponsorship manager london the company a marke...,central london,permanent,31500
9,about barclays barclays moves lends invests ...,south east london,permanent,42499
10,counter sales person c k dependent on exper...,banchory,contract,16000
11,central london competitive salary bonus be...,gipsy hill,permanent,47500
12,we are recruiting for a dynamic organisation b...,wakefield,permanent,20000
13,composite design engineer required for a perma...,abingdon,permanent,34000
14,working managing a team to maintain the home b...,northampton,nan,15360
15,hcl nursing are actively recruiting skilled re...,bradford,permanent,39811
16,hgv commercial vehicle customer service adv...,northamptonshire,contract,23000
17,break into banking net developer c agile wi...,london,permanent,47500
18,registered nurse rgn is required to work wit...,tiverton,nan,24500
19,can you drive effective analytical solutions f...,uxbridge,nan,32000
20,nbsp my client is an small but high profile ...,london,permanent,45000
21,specialist clinical negligence practice based ...,lancashire,permanent,20000
22,job description answer contacts promptly an...,uk,permanent,21000
23,year teacher role servoca education is cu...,surrey,contract,34800
24,registered general nurses rgn bournemouth fo...,bournemouth,nan,24500
25,salary k k pa plus benefits location...,leeds,permanent,25000
26,a reputable and fast growing asbestos company ...,south yorkshire,permanent,28000
27,senior business travel executive salary k...,essex,permanent,27500
28,our client is one of the leading digital sales...,london,permanent,18000
29,capita is a ftse100 listed company and run eme...,uk,permanent,40000
...,...,...,...,...
59970,freelance estimator role holding post ...,nottinghamshire,permanent,42500
59971,development worker salary per annu...,west london,permanent,20000
59972,vehicle purchaser car sales chesterfield ...,chesterfield,permanent,23750
59973,this is your chance to join a dynamic ftse 100...,uk,permanent,30500
59974,we are looking for a passionate chef de partie...,south east london,nan,20500
59975,children youth and family services team manage...,london,permanent,27682
59976,experienced retail merchandisers required pre...,oxford,nan,12960
59977,a rare and exciting opportunity has arisen to ...,dorset,permanent,50000
59978,you will be responsible for the delivery and c...,uk,permanent,22000
59979,automotive motor trade job service advisor r...,leeds,nan,19500
59980,a service in norfolk are looking for a qualifi...,king s lynn,nan,32640
59981,software quality engineer tickit cmmi aqap ...,bedfordshire,permanent,45000
59982,job description our client is a london based i...,london,permanent,68750
59983,hays education has recently experienced an inc...,weston super mare,permanent,18720
59984,internet security software engineer cambridge ...,cambridge,permanent,50000
59985,front end web designer front end web develop...,preston,nan,20000
59986,our client a large nhs foundation trust is s...,basingstoke,contract,54000
59987,salary pound nbsp pound year loca...,southampton,permanent,28000
59988,the position sous chef pastry the candidate ...,cheshire,nan,21000
59989,electrical design engineer required for a cons...,leeds,permanent,30000
59990,project manager defence electronics a great...,andover,permanent,42000
59991,our client is a growing sme client based in we...,west sussex,permanent,37000
59992,data analyst canary wharf london 69 month con...,london,contract,25920
59993,bmsl require labourer with enhanced prison cle...,london,nan,13440
59994,longhurst havelok homes limited registered res...,grimsby,nan,12585
59995,as a result of continued growth first class s...,whitley bay,contract,26400
59996,php mvc web developer macclesfieldcirca ...,macclesfield,permanent,26000
59997,staff nurse nursing home baldock white recru...,baldock,nan,24500
59998,this is one of the best agency side opportunit...,the city,permanent,65000
59999,must have cscs card must have asbestos awarene...,london,nan,23040

In [7]:
vectorizer = TfidfVectorizer(min_df = 5)

X1 = vectorizer.fit_transform(salary_train['FullDescription'])

X1

<60000x22861 sparse matrix of type '<class 'numpy.float64'>'
	with 8365759 stored elements in Compressed Sparse Row format>

In [8]:
enc = DictVectorizer()

X2 = enc.fit_transform(salary_train[['LocationNormalized', 'ContractTime']].to_dict('records'))

X2

<60000x1766 sparse matrix of type '<class 'numpy.float64'>'
	with 120000 stored elements in Compressed Sparse Row format>

In [9]:
X = hstack([X1,X2])

X

<60000x24627 sparse matrix of type '<class 'numpy.float64'>'
	with 8485759 stored elements in COOrdinate format>

In [10]:
Y = salary_train['SalaryNormalized']

Y

0        33000
1        50000
2        40000
3        22500
4        20355
5        22500
6        32000
7        30000
8        31500
9        42499
10       16000
11       47500
12       20000
13       34000
14       15360
15       39811
16       23000
17       47500
18       24500
19       32000
20       45000
21       20000
22       21000
23       34800
24       24500
25       25000
26       28000
27       27500
28       18000
29       40000
         ...
59970    42500
59971    20000
59972    23750
59973    30500
59974    20500
59975    27682
59976    12960
59977    50000
59978    22000
59979    19500
59980    32640
59981    45000
59982    68750
59983    18720
59984    50000
59985    20000
59986    54000
59987    28000
59988    21000
59989    30000
59990    42000
59991    37000
59992    25920
59993    13440
59994    12585
59995    26400
59996    26000
59997    24500
59998    65000
59999    23040
Name: SalaryNormalized, Length: 60000, dtype: int64

In [11]:
clf = Ridge(alpha=1, random_state=241)

clf.fit(X, Y)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=241, solver='auto', tol=0.001)

In [12]:
Ypred = clf.predict(X)

Ypred

array([40202.25725568, 41347.93325162, 34073.22381711, ...,
       24351.12586784, 73125.59808392, 17744.40382246])

In [24]:
salary_test_mini['FullDescription'] = salary_test_mini['FullDescription'].str.lower().replace('[^a-zA-Z0-9]', ' ', regex = True)

salary_test_mini['LocationNormalized'] = salary_test_mini['LocationNormalized'].str.lower().replace('[^a-zA-Z0-9]', ' ', regex = True)

salary_test_mini['ContractTime'] = salary_test_mini['ContractTime'].str.lower().replace('[^a-zA-Z0-9]', ' ', regex = True)

salary_test_mini['LocationNormalized'].fillna('nan', inplace=True)

salary_test_mini['ContractTime'].fillna('nan', inplace=True)

salary_test_mini

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,we currently have a vacancy for an hr project ...,milton keynes,contract,NaN
1,a web developer opportunity has arisen with an...,manchester,permanent,NaN

In [26]:
X1test = vectorizer.transform(salary_test_mini['FullDescription'])

X1test

<2x22861 sparse matrix of type '<class 'numpy.float64'>'
	with 300 stored elements in Compressed Sparse Row format>

In [31]:
X2test = enc.transform(salary_test_mini[['LocationNormalized', 'ContractTime']].to_dict('records'))

X2test

<2x1766 sparse matrix of type '<class 'numpy.float64'>'
	with 4 stored elements in Compressed Sparse Row format>

In [32]:
Xtest = hstack([X1test,X2test])

Xtest

<2x24627 sparse matrix of type '<class 'numpy.float64'>'
	with 304 stored elements in COOrdinate format>

In [35]:
Ypredtest = clf.predict(Xtest)

np.round(Ypredtest,2)

array([56555.62, 37188.32])