In [1]:
import numpy as np
from scipy import stats

In [4]:
import scipy
print(np.__version__)
print(scipy.__version__)

1.17.4
1.3.0

In [3]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [6]:
round(stats.binom_test(67, 100, 0.75, alternative = 'two-sided'), 4)

0.0822

In [8]:
stats.binom_test(22, 50, 0.75, alternative = 'two-sided')

3.4831478978300243e-06

In [9]:
67/100

0.67

In [10]:
22/50

0.44

In [11]:
import pandas as pd

In [14]:
df = pd.read_csv('pines.txt', sep = '\t')

In [15]:
df

        sn     we
0    200.0    8.8
1    199.3   10.0
2    193.6   22.4
3    167.7   35.6
4    183.9   45.4
..     ...    ...
579  169.1  160.0
580  162.5  157.3
581  156.7  155.3
582  154.1  150.8
583   87.7  200.0

[584 rows x 2 columns]

In [ ]:
ret = stats.binned_statistic_2d(
    x, y, x, 'count', 
    bins=[binx,biny])

In [18]:
ret = stats.binned_statistic_2d(
    x = df.sn,
    y = df.we,
    values = df.sn,
    statistic = 'count',
    bins = [
        [0, 40, 80, 120, 160, 200],
        [0, 40, 80, 120, 160, 200],
    ]
)

In [22]:
ret.statistic

array([[18., 26., 29., 25., 20.],
       [14., 12., 22., 34., 25.],
       [12., 24., 15., 50., 37.],
       [ 8., 19., 31., 50.,  7.],
       [ 7.,  8., 37., 27., 27.]])

In [21]:
ret.statistic.reshape(-1)

array([18., 26., 29., 25., 20., 14., 12., 22., 34., 25., 12., 24., 15.,
       50., 37.,  8., 19., 31., 50.,  7.,  7.,  8., 37., 27., 27.])

In [26]:
m = df.shape[0] / 25

In [30]:
max(ret.statistic.reshape(-1))

50.0

In [32]:
[m for x in ret.statistic.reshape(-1)]

[23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36,
 23.36]

In [35]:
round(stats.chisquare(ret.statistic.reshape(-1), 
                      [m for x in ret.statistic.reshape(-1)], ddof = 0).statistic, 2)

150.59

In [37]:
stats.chisquare(ret.statistic.reshape(-1), 
                      [m for x in ret.statistic.reshape(-1)], ddof = 0).pvalue

2.574669774967279e-20