In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('water.txt', sep = '\t')

In [6]:
df

   location           town  mortality  hardness
0     South           Bath       1247       105
1     North     Birkenhead       1668        17
2     South     Birmingham       1466         5
3     North      Blackburn       1800        14
4     North      Blackpool       1609        18
..      ...            ...        ...       ...
56    South        Walsall       1527        60
57    South  West Bromwich       1627        53
58    South       West Ham       1486       122
59    South  Wolverhampton       1485        81
60    North           York       1378        71

[61 rows x 4 columns]

In [8]:
from statsmodels.stats.weightstats import _zconfint_generic, _tconfint_generic

/home/agekyan/.conda/envs/psheenv/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [24]:
round(_tconfint_generic(df.mortality.mean(), 
                  df.mortality.std(ddof=1)/len(df.mortality)**(0.5),
                  len(df.mortality) - 1,
                  0.05, 
                  'two-sided')[0], 4)

1476.0833

In [11]:
df[df['location'] == 'South']

   location           town  mortality  hardness
0     South           Bath       1247       105
2     South     Birmingham       1466         5
7     South    Bournemouth       1299        78
9     South       Brighton       1359        84
10    South        Bristol       1392        73
12    South        Cardiff       1519        21
13    South       Coventry       1307        78
14    South        Croydon       1254        96
18    South       East Ham       1318       122
19    South         Exeter       1260        21
25    South        Ipswich       1096       138
27    South      Leicester       1402        37
32    South        Newport       1581        14
33    South    Northampton       1309        59
34    South        Norwich       1259       133
37    South         Oxford       1175       107
38    South       Plymouth       1486         5
39    South     Portsmouth       1456        90
41    South        Reading       1236       101
47    South    Southampton       1369        68
48    South       Southend       1257        50
54    South        Swansea       1625        13
56    South        Walsall       1527        60
57    South  West Bromwich       1627        53
58    South       West Ham       1486       122
59    South  Wolverhampton       1485        81

In [25]:
_tconfint_generic(df[df['location'] == 'South'].mortality.mean(), 
                  df[df['location'] == 'South'].mortality.std(ddof=1)/len(df[df['location'] == 'South'].mortality)**(0.5),
                  len(df[df['location'] == 'South'].mortality) - 1,
                  0.05, 
                  'two-sided')

(1320.1517462936238, 1433.463638321761)

In [27]:
_tconfint_generic(df[df['location'] == 'North'].mortality.mean(), 
                  df[df['location'] == 'North'].mortality.std(ddof=1)/len(df[df['location'] == 'North'].mortality)**(0.5),
                  len(df[df['location'] == 'North'].mortality) - 1,
                  0.05, 
                  'two-sided')

(1586.5605251961385, 1680.6394748038613)

In [28]:
_tconfint_generic(df[df['location'] == 'South'].hardness.mean(), 
                  df[df['location'] == 'South'].hardness.std(ddof=1)/len(df[df['location'] == 'South'].hardness)**(0.5),
                  len(df[df['location'] == 'South'].hardness) - 1,
                  0.05, 
                  'two-sided')

(53.467198692036106, 86.07126284642544)

In [29]:
_tconfint_generic(df[df['location'] == 'North'].hardness.mean(), 
                  df[df['location'] == 'North'].hardness.std(ddof=1)/len(df[df['location'] == 'North'].hardness)**(0.5),
                  len(df[df['location'] == 'North'].hardness) - 1,
                  0.05, 
                  'two-sided')

(21.42248728572426, 39.37751271427574)

In [4]:
import numpy as np

In [5]:
msc = [70.2, 85.0, 78.4]
spb = [63.0, 77.5, 77.6]

In [7]:
np.mean(msc)

77.86666666666666